/* BouncingWord.css */
.bouncing-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    overflow: hidden;
    top: 0;
}

.bouncing-word {
    position: absolute;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(4px);
    opacity: 0.3;
}