.top-heading-signin {
    height: 13vh;
    padding-top: 6vh;
    width: 100vw;
    overflow: hidden;
}

.singin-container {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    height: 50vh;
    width: 50vw;
}

.labels-sign {
    color: white;
    font-family: "Raleway";
}

.put-center {
    justify-content: center;
    align-items: center;
}

.fill-up-row {
    display: flex;
    margin-top: 5vh;
}


label {
    margin-left: 5vw;
}

.input-div {
    position: relative;
    height: 8.4vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}

.Finbuddy-title {
    font-size: 40px;
    margin: 0;
    text-align: center;
    color: white;
}

.signin-fullscreen {
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.restof-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.signin-overlay {
    height: 57vh;
    z-index: 100;
    width: 50vw;
    overflow: hidden;
    padding: 1vw;
    padding-top: 3vw;
    padding-bottom: 3vw;
    border: 0.7px solid grey;
    border-radius: 3vw;
    backdrop-filter: blur(5px);
}

.errmsg {
    color: red;
    text-align: center;
    font-size: 15px;
    position: absolute;
    top: 25vh;
    left: 15.5vw
}

input[type="text"] {
    font-size: 1rem;
    font-family: "Raleway";
}

input[type="password"] {
    font-size: .9rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.full-scr {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    overflow: hidden;
    top: 0;
    backdrop-filter: blur(4px);
}

.blur {
    z-index: 2;
    backdrop-filter: blur(2px);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.input-sign {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
    color: white;
    height: 4.4vh;
    width: 40vw;
}

.input-sign:focus {
    outline: none;
}